{% extends 'base.html' %}

{% block title %} Vertical Tank Maintenance {% endblock %}


{% block body %} 

<h2> About Vertical Tank Maintenance </h2>
<hr>

<h3> Company Information </h3>
<h4> Address:</h4>
<h4>Phone Number:</h4>
<h4>Email:</h4>
<br>

<h3> Company History</h3>
<p>
    Nunc vel risus commodo viverra maecenas accumsan lacus vel facilisis. Porttitor massa 
    id neque aliquam. Pharetra et ultrices neque ornare aenean euismod. Adipiscing tristique 
    risus nec feugiat in fermentum posuere urna. Enim sed faucibus turpis in eu mi. Suscipit 
    tellus mauris a diam maecenas sed enim ut sem. Nibh tortor id aliquet lectus proin. Lorem 
    donec massa sapien faucibus et molestie ac feugiat.
</p>
<p>
    Mollis aliquam ut porttitor leo. Dictum varius duis at consectetur. Tincidunt id aliquet 
    risus feugiat in ante metus. Purus in massa tempor nec feugiat. Id nibh tortor id aliquet 
    lectus proin nibh. Feugiat sed lectus vestibulum mattis ullamcorper. Fames ac turpis egestas 
    integer eget aliquet nibh praesent. Ullamcorper morbi tincidunt ornare massa eget egestas purus. 
    Nisi porta lorem mollis aliquam.
</p>
<p>
    Nulla at volutpat diam ut venenatis tellus in metus. Orci nulla pellentesque dignissim enim 
    sit amet venenatis urna. Dignissim convallis aenean et tortor at. Dictumst quisque sagittis 
    purus sit amet volutpat consequat mauris. Pharetra vel turpis nunc eget lorem dolor sed. Ultrices 
    vitae auctor eu augue ut lectus arcu bibendum. Risus in hendrerit gravida rutrum. Egestas maecenas 
    pharetra convallis posuere morbi leo.
</p>
<br>

<h3>Company Owner</h3>
<img src="https://via.placeholder.com/250x375.png?text=Company+Owner">
<br>
<p>
    Nisi est sit amet facilisis magna etiam tempor. Sollicitudin tempor id eu nisl nunc mi ipsum 
    faucibus vitae. Arcu cursus vitae congue mauris rhoncus aenean vel. In nisl nisi scelerisque eu 
    ultrices. Nunc sed id semper risus in hendrerit gravida rutrum. Pulvinar mattis nunc sed blandit 
    libero volutpat. Turpis cursus in hac habitasse platea dictumst quisque sagittis purus.
</p>
<p>
    Turpis in eu mi bibendum neque egestas. Nisl condimentum id venenatis a condimentum vitae sapien 
    pellentesque. Nibh praesent tristique magna sit. Amet luctus venenatis lectus magna fringilla urna. 
    Nec dui nunc mattis enim. Pharetra diam sit amet nisl. Viverra tellus in hac habitasse platea dictumst 
    vestibulum rhoncus. Mattis nunc sed blandit libero volutpat sed cras ornare arcu. Lectus sit amet est 
    placerat. Id aliquet lectus proin nibh nisl condimentum id.
</p>

{% endblock %}