{% extends 'base.html' %}

{% block title %} Vertical Tank Maintenance {% endblock %}

{% block body %} 

<h2> Welcome to VTM! </h2>
<hr>

<img src="/static/images/above_ground_vertical_tanks.jpg" width="325" height="250">

<br>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
    labore et dolore magna aliqua. Vestibulum morbi blandit cursus risus at ultrices. Mauris cursus 
    mattis molestie a iaculis. Ornare massa eget egestas purus viverra. Aliquam sem fringilla ut morbi 
    tincidunt augue. Scelerisque in dictum non consectetur a erat. Amet mattis vulputate enim nulla aliquet. 
    Habitant morbi tristique senectus et netus. Eu augue ut lectus arcu bibendum at varius vel pharetra. 
    Placerat vestibulum lectus mauris ultrices eros in.
</p>

<br>
<br>

<img src="https://via.placeholder.com/325x250.png?text=Service+Area">

<br>
<p>
    Sed risus ultricies tristique nulla aliquet enim tortor. Neque aliquam vestibulum morbi blandit cursus 
    risus at ultrices. Nec ultrices dui sapien eget mi proin. Viverra ipsum nunc aliquet bibendum. Velit ut tortor 
    pretium viverra suspendisse potenti nullam ac tortor. Nisi lacus sed viverra tellus in hac habitasse platea. 
    Nisl suscipit adipiscing bibendum est ultricies. Duis convallis convallis tellus id interdum velit laoreet id. 
    Tristique senectus et netus et malesuada fames ac turpis. Libero id faucibus nisl tincidunt. Tellus elementum 
    sagittis vitae et leo duis ut diam. Blandit volutpat maecenas volutpat blandit aliquam etiam erat.
</p>

<br>
<br>
<br>

{% endblock %}